.item-quantity {
	padding: 2px;
}

.item-quantity img {
	width: 50px;
	height: 60px;
	margin: 0px 10px 2px 0px;
	float: left;
}

.item-quantity .details {
	margin-left: 60px;
}

.item-quantity .details-heading {
	padding-bottom: 2px;
}

.item-quantity .details .quantity {
	color: #111;
	text-shadow: 1px 1px 2px #bbb;
	font-size: 1.5em;
	font-weight: bold;
	padding-right: 5px;
}

.item-quantity .details .name {
	font-size: 1.2em;
}


.item-quantity .sources {
	float: left;
	padding: 2px 6px;
	border-radius: 4px;
}
