.item-quantity {
	padding: 2px;
}

.item-quantity img {
	width: 60px;
	height: 50px;
	margin: 0px 10px 2px 0px;
	float: left;
}

.item-quantity .quantity {
	color: #111;
	text-shadow: 1px 1px 2px #bbb;
	font-size: 1.45em;
	font-weight: bold;
	padding-bottom: 1px;
}

.item-quantity .name {
	font-size: 1.15em;
	padding: 2px 0px;
}


.item-quantity .sources {
	display: none;
	background-color: #fff;
	padding: 6px 8px;
	border-radius: 4px;
}

/* Small screen that cannot accomodate navigation or multiple columns */
@media only screen and (max-width: 599px) {
}

/* Medium screen that can accomodate left-side navigation */
@media only screen and (min-width: 600px) and (max-width: 999px) {
	
	.item-quantity-with-source .sources {
		display: block;
		float: right;
	}
	
}

/* Wide screen that can accomodate all four columns */
@media only screen and (min-width: 1000px) {
}
