.navigation-header {
	font-size: 1.2em;
	font-weight: bold;
	/*color: #ffd633;*/
	color: #fff;
	text-shadow: 1px 2px 2px #111;
	padding: 2px 10px 2px 39px;
	background: #eee url('../../assets/herb_splash.png') no-repeat 3px center;
	background-size: 32px;
	border-bottom: 1px solid #ddd;
	box-shadow: 1px 1px 1px #bbb;
}

.navigation-header .navigation-title {
	float: left;
	padding: 11px 0px 10px 0px;
}

.navigation-header .navigation-controls {
	float: right;
	height: 40px;
}
.navigation-header .navigation-controls .navigation-icon-button {
	float: right;
}

/* Small screen that cannot accomodate navigation or multiple columns */
@media only screen and (max-width: 599px) {
}

/* Medium screen that can accomodate left-side navigation */
@media only screen and (min-width: 600px) and (max-width: 1099px) {
}

/* Wide screen that can accomodate all four columns */
@media only screen and (min-width: 1100px) {
	
	.navigation-header .menu-button {
		display: none;
	}

}
