.site-splash {
	height: 90vh;
	text-align: center;
	position: relative;
}

.site-splash .splash-image {
	position: absolute;
	top: 29%;
	left: 50%;
	transform: translate(-50%, -29%);
}

.site-splash .splash-text {
	position: absolute;
	top: 40%;
	left: 5%;
	right: 5%;
	transform: translateY(-40%);
	font-size: 1.7em;
	color: #fff;
	text-shadow: 2px 2px 1px #000;
}

.site-splash .splash-action {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -65%);
	display: block;
	font-size: 1.25em;
	font-family: Verdana;
	padding: 17px 20px 16px 20px;
	border-radius: 4px;
	border: 1px solid #aaa;
	background-color: #fff;
	box-shadow: 1px 2px 5px #9a9;
}
