.navigation-header {
	font-size: 1.2em;
	font-weight: bold;
	/*color: #ffd633;*/
	color: #fff;
	text-shadow: 1px 2px 2px #111;
	padding: 13px 10px 10px 38px;
	background: #eee url('../../assets/herb_splash.png') no-repeat 2px center;
	background-size: 32px;
	border-bottom: 1px solid #ddd;
	box-shadow: 1px 1px 1px #bbb;
}

/* Small screen that cannot accomodate navigation or multiple columns */
@media only screen and (max-width: 599px) {
}

/* Medium screen that can accomodate left-side navigation */
@media only screen and (min-width: 600px) and (max-width: 1099px) {
}

/* Wide screen that can accomodate all four columns */
@media only screen and (min-width: 1100px) {	
}
