.item-quantity {
	padding: 2px;
}

.item-quantity img {
	width: 60px;
	height: 50px;
	margin: 0px 10px 2px 0px;
	float: left;
}

.item-quantity .quantity {
	color: #111;
	text-shadow: 1px 1px 2px #bbb;
	font-size: 1.45em;
	font-weight: bold;
	padding-bottom: 1px;
}

.item-quantity .name {
	font-size: 1.15em;
	padding: 2px 0px;
}
