.calculator {
	min-width: 320px;
	overflow: hidden;
}

/* Small screen that cannot accomodate navigation or multiple columns */
@media only screen and (max-width: 599px) {

	.calculator .controls .column {
		width: 320px;
		margin: 0 auto;
	}
	.calculator .controls .column.inactive {
		display: none;
	}
	
	.calculator .controls .column .heading {
		text-align: center;
	}
	
	.calculator .controls .column .inventory-input-form {
		width: 258px;
		margin: 6px 12px 0px 50px;
	}
	
	.calculator .navigation-side-bar {
		display: none;
	}

}

/* Medium screen that can accomodate left-side navigation */
@media only screen and (min-width: 600px) and (max-width: 999px) {
	
	.calculator .navigation-side-bar {
		display: block;
		float: left;
		width: 30%;
	}
	
	.calculator .controls {
		float: right;
		width: 70%;
	}
	.calculator .controls .column.inactive {
		display: none;
	}
	
	.calculator .navigation-side-bar {
		display: block;
		position: fixed;
		top: 0px;
	}
	
	.calculator .button {
		display: none;
	}
	
}

/* Wide screen that can accomodate all four columns */
@media only screen and (min-width: 1000px) {

	.calculator {
		padding: 6px 2%;
	}
	
	.calculator .navigation-side-bar {
		display: none;
	}

	.calculator .controls .column {
		float: left;
		width: 24%;
	}
	
	.calculator .navigation-side-bar, .calculator .button {
		display: none;
	}
	
}
